<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Вход | Городской помощник</title>
    <link rel="stylesheet" href="/resources/static/css/auth.css"/>
</head>
<body>
    <!-- Форма аутентификации -->
    <form class="auth-form">
        <!-- Поля для ввода логина и пароля -->
        <input class="login" type="text" name="username" placeholder="Логин" required>
        <input class="password" type="password" name="password" placeholder="Пароль" required>
        <!-- Кнопка отправки формы -->
        <button class="submit-button" type="submit">Войти</button>
        <!-- Ссылка на страницу регистрации, если нет аккаунта -->
        <a href="/auth/register" class="regist-link">Нет аккаунта?</a>
    </form>
    <script src="/resources/static/js/auth.js?v=2"></script>
</body>
</html>
